/* Mobile view */

body {
  margin: auto 0;
}

main {
  font-family: "Raleway";
  background: #ddb30e;
  min-height: 100vh;
  overflow: auto;
}

h1 {
  border: 3px black solid;
  padding: 2%;
  font-size: 10vw;
  display: block;
  margin: 0;
}

h2 {
  margin: 0;
  font-size: 4vw;
}

.title_one {
  margin-top: 1vh;
  padding-bottom: 0.7vh;
}

.title_two {
  text-align: right;
}

.name_box {
  width: 52vw;
  margin: 50vw auto auto auto;
  z-index: 1;
}

/* Contact tab*/

.contact {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgba(0, 0, 0, 0.2); */

  padding: 1vw 10vw 1vw 10vw;
  z-index: 1;
  text-decoration: underline;
}

p {
  margin: 0;
}

#menu-toggle {
  display: none;
}

#menu {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  overflow: hidden;
  max-height: 0;
  padding: 0;
  height: 100px;
  position: fixed;
  top: 0;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

#menu-toggle:checked + #menu {
  max-height: 100px;
}
/* Desktop view */

@media screen and (min-width: 640px) {
  main {
    background: linear-gradient(
      to left,
      #ddb30e 0%,
      #ddb30e 30%,
      #000000 30%,
      white 30%,
      white 100%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow: auto;
  }

  .name_box {
    /*width: 60ch;*/
    width: 42vw;
    margin-top: 60vh;
    margin-left: 45.5vw;
  }

  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 2.5vw;
  }

  .contact {
    writing-mode: vertical-rl;
    text-orientation: upright;
    top: 50%;
    left: 0;
    padding: 10vw 1vw 10vw 1vw;
    transform: translateX(0);
    transform: translateY(-50%);
    background-color: transparent;
  }

  .contact:hover {
    cursor: pointer;
  }

  .contact_menu {
    height: 100%;
    width: 0%;
  }

  #menu {
    width: 25vw;
    overflow: hidden;
    max-width: 0;
    padding: 0;
    min-height: 100vh;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
  }

  #menu-toggle:checked + #menu {
    max-width: 25vw;
  }
}
