body {
  margin: auto 0;
}

main {
  background: linear-gradient(
    to left,
    #ddb30e 0%,
    #ddb30e 30%,
    #000000 30%,
    white 30%,
    white 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
}
