body {
    margin: 0;

}

h1 {
    font-family: 'Raleway', sans-serif;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "main1 main2 main3";
}


